@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* *{
  

  margin:0;
  padding: 0 auto;
} */

body{
  font-family: 'Montserrat', sans-serif;
}

/* HEADERMENU */
.main-header{
width: 100%;
background: rgba(94, 93, 88, 0.6);
color:white;
}
/* .social-item{
    list-style: none;
} */
.social{
  display:flex;
  flex-wrap: nowrap;
    list-style: none;
    color:white;
    letter-spacing: 1px;

}
.the{
  font-weight: 400;
  font-size: 32px;
  color:#FFFFFF;
  margin-left: 5px;
}
.ham{
  color: #18CFAB;
  font-weight: 700;
  font-size: 32px;
}
.social a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.logo{
  text-decoration: none;
}
  .menu-social:hover{
    color:#18CFAB ;
    cursor: pointer;
  }
  .menu-social:hover::after{ 
     display: block;
      }
  .menu-social::after{
      content: "";
      position: relative;
      width: 100%;
      height: 2px;
      display: none;
      background-color: #18CFAB;
      top: 52px
  }
  
  .nav-bar{
padding: 25px 0px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .logo-text{
    display: flex;
    align-items: center;
  }
  .menu-social{
    font-weight: 700;
    font-size: 16px;
  padding:0px 20px;
  color:#FFFFFF99;
  }
  .menu-social-img{
    font-weight: 700;
    font-size: 16px;
  padding:0px 20px;
  }
  .logo-h{
    position: relative;
    left:45px;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
  
  }
  .header-menu-home:hover{
    content: "";

  }


  /* HEADERTEXT */
  .container{
    margin: 0 auto;
    max-width: 1140px;
  }
  .background-image{
    width: 100%;
    background-image: url(../img/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .central-text{
  color:white;
  text-align: center;
 }
  .container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     padding-top: 264px;
     padding-bottom: 243px;
  } 
  .btn-1{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color:#18CFAB; 
    cursor: pointer;
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px -5px  white;
  }
  .btn-2{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color:#00CBF6; 
    cursor: pointer;
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 3px;
    margin-left: 26px;
    box-shadow: 0px -5px  white;
  }
  .container-buttons{
    display: flex;
    justify-content: center;
    padding:175px 0px 175px
  }



  /* FLEXCOLUMNS */
  .container-3 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 377px;
  }
  .item1{
    text-align: center;
    color:#18CFAB;
    background-color: #1C2A33;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;  
  }
  .item2{
    color: white;
    font-weight: 700;
    font-size: 20px;

    background-color: #18CFAB;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .item3{
    text-align: center;
    color:#18CFAB;
    background-color: #1C2A33;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .item4{
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #18CFAB;
    background-color: #18CFAB;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
 .odd-bottom-images{
  margin-bottom: 65px;
 }
 .even-bottom-images{
 margin-bottom: 48px;
}


 /* CHANGEBTNS */
 .tabs-content{
width: 1160px;
 }
 .change-btn-img{
  width: 193px;
  height: 139px;
  float: left;
  margin-right: 15px;
 }
 .tabs-content{
  margin-top: 23px;
  line-height: 25px
 }
 ul {
  list-style: none;
  padding-left: 0;
}

.our-services {

  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.tabs {
  display: flex;
  margin-top: 101px;
}
.tabs-title {
  width: 193px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEFEF;
  color: #717171;
  cursor: pointer;
}
.Our-service{
  color: #1C2A33;
  font-size: 40px;
  position: absolute;
  height: 200px;

}
.Centered-our-service{
display: flex;
justify-content: center;
align-items: center;
width: auto;
margin-top: 83px;
}
.Our-service-line-first{
  position: relative;
  width: 75.54px;
  height: 1px;
   bottom: 25px; 
  left: 30px;


  background: #18CFAB;
}
.Our-service-line-second{
  position: relative;
  width: 75.54px;
  height: 1px;
  bottom: 21px;
  right: 35px;


  background: #18CFAB;
}
.tabs-title.active-tabs {
  position: relative;
  background-color: #18CFAB;
  color: white;
}

.tabs-content>li {
  display: none;
}

li.active-js {
  display: block;
}




/* INSTALLSECTION */
.section2-bckgimg {
  height: 476px;
  width: auto;
  background-image: url(../img/Layer.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.container-install {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Everything {
  color: #18CFAB;
  font-weight: 700;
  font-size: 40px;
}

.Smooth {
  margin-top: 12px;
  color: #D8D8D8;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}
h3{
  padding: 37px 0px 15px 0px;
  color: #18CFAB;
  font-weight: 700;
  font-size: 20px;
}
.designer{
  padding:0px 0px 50px 0px;
  font-size: 13px;
  font-weight: 300;
  color: #BBBBBB;
  
}
.install-button {
  margin-top: 70px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #18CFAB;
  cursor: pointer;
  width: 169px;
  height: 63px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px -5px white;
}
.theme{
  color: #18CFAB;
}
.theHamIs{
  font-weight: 700;
  font-size: 35px;
}
.weAreCreative{
  font-weight: 700;
  font-size: 78px;
   margin-bottom: 20px;
}
.buyandenjoy{
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 20px;
}
/* BREAKINGNEWS */
.container-breaking-news {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.img-conatiner {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  gap: 35px;
  height: 600px;
}

.item-breaking {
  width: 263px;
  height: 208px;
position: relative;
}

.centered-news {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.under-breaking-news-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .Breaking-News::after {
  content: '';
  display: block;
  width: 79px;
  height: 1px;
  background-color: #18CFAB;
  position: absolute;
  left: 100px;
  top: 24px;
} */

/* .Breaking-News::before {
  content: '';
  display: block;
  width: 79px;
  height: 1px;
  background-color: #18CFAB;
  position: absolute;
  left: 89px;
  top: 65px;
} */
.right-corner-content{
  width: 70px;
  height: 68px;
  position: absolute;
  left: 193px;
  top: 0;
  background-color: #203E38;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.amazing-blog{
  color: #717171;
  font-weight: 700;
  font-size: 17.99px;
  padding: 5px 0px 15px 0px;
}
.item-breaking:hover>.under-breaking-news-text>.amazing-blog{
 color: #18CFAB;
}
.item-breaking:hover>.right-corner-content{
  background-color: #18CFAB;
}
 /* LOAAD<OREIMAGES */
.container
 #imagine-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 }
 #filter-list{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 150px;
 }
 .item-li-all{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DADADA;
  height: 58px;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 15px;
  cursor: pointer;
  
 }
 .bkbkb:hover{
border:1px solid #18CFAB;
 }
.title{
  padding: 83px 0px 26px ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
font-size: 36px;
color: #4E4E4E;
position: relative;
}
.title-grey{
  color: #4E4E4E;
}
.title-white{
  color: #FFFFFF;
}
.works-active{
  border: 1px solid #18CFAB;
}
 .border-item-all{
  width: 45px;
 }
 #load-more{
  padding: 22px;
 
  background-color:#18CFAB;
  font-weight: 700;
font-size: 14px;
border: none;
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
 }
 .under-image-load-more-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 99px;
 }
 .title::before{
  position: absolute;
  content: "";
  background-color: #18CFAB;
  height: 1px;
  width:80px;
  left: calc(50% - 48px);
  bottom: 4px;
 }
 .title::after{
  position: absolute;
  content: "";
  background-color: #18CFAB;
  height: 1px;
  width:80px;
  /* top: 44px;
  right:205px ; */
  bottom: 0px;
  left: calc( 50% - 32px );
 }
.active-tabs::after{
  position: absolute;
  content: "";
  bottom: -11px;
  
  background-image: url(/img/Rectangle.png);
height: 12px;
width: 27px;

}

/* SECTION 3 */


.section3-bckgimg {
    width: auto;
    padding:98px 0px 104px ;
    background-image: url(/img/Layer333.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.integer-text {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    position: relative;
}

.centered-people {
    width: auto;

}

.centered-integer {
    width: auto;
    
}

.integer-text {
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 168px 0px 69px 0px;
}

.swipe-people {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.li-item-people {
    width: 100px;

}

.what-people-say-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle-people {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    background: rgba(0, 0, 0, 0.0001);
}
.scroll-button-left{
  margin-right: 30px;
}
.main-photo-meaning-1{
  width: 143px;
  height: 142px;
  
}
.active{
  margin-bottom:20px;
}
.scroll-button:hover{
  background-color: #18CFAB;
}
.integer-text::before{
  position:absolute;
  content: "";
  width:47px;
  height: 33px;
  background-image: url(/img/shape.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 120px;
}
.main-text{
  color: #BBBBBB;
  line-height: 30px;
  padding-top: 15px;
}
.background-images-page{
  background-color: #E9EDEF;
}
.text-12{
  margin-bottom: 10px;
}
.text-box{
  display: flex;
  flex-direction: row;
}
.by-admin-text{
  padding-right: 15px ;
  position: relative;
}
.by-admin-text::after{
  position: absolute;
  content: "";
  border-right: 1px solid #777777;
  height: 14px;
  right: 7px;
}
 .footer-text-box{
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:48px 0px 47px;
  color:#AEAEAE;
  font-size:14px;
 }
 .footer-text{
  position: relative;
  padding-right: 10px;
 }
 .background-footer{
  background-color:#22353F;
 }
 .footer-ham{
  color: #18CFAB;
 }
 .footer-text::after{
  position: absolute;
  content: "";
  border-right: 2px solid #777777;
  height: 14px;
  right: 4px;
}